apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 27.0.2

    helm:
      values: |
        # Activa los providers necesarios
        additionalArguments:
          - "--providers.kubernetesingress=true"
          - "--entrypoints.web.address=:8000"
          - "--entrypoints.websecure.address=:8443"

        # Configura la ingressClass
        ingressClass:
          enabled: true
          isDefaultClass: true
          name: traefik

        # Entrypoints expuestos por el Service de Traefik
        ports:
          web:
            port: 80
            expose: true
            exposedPort: 80
          websecure:
            port: 443
            expose: true
            exposedPort: 443

        # Service que apunta a los entrypoints correctos
        service:
          type: LoadBalancer
          ports:
            web: 80
            websecure: 443

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
