apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: matomo
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: matomo
    targetRevision: 11.0.0   # puedes usar latest
    helm:
      values: |
        service:
          type: ClusterIP
        ingress:
          enabled: false

  destination:
    server: https://kubernetes.default.svc
    namespace: matomo

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
